.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.timeline__content-title {
  font-weight: 600;
  font-size: 2em;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  background: $brand-color-primary;
  color: $white;
  position: relative;
  display: inline;
}

.timeline__content-desc {
  margin: 15px 0px 0px;
  box-sizing: border-box;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba($black, 0.25);
}

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: 0.85;
  filter: blur(1px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
  &:before {
    content: attr(data-text);
    letter-spacing: 2px;
    width: 100%;
    position: absolute;
    color: $black;
    border-left: 2px solid $brand-color-primary;
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 40px);
    font-style: italic;
    font-size: 2em;
    font-weight: 400;
  }
  &:nth-child(even) {
    align-self: flex-end;
    &:before {
      right: auto;
      text-align: right;
      left: calc(-100% - 40px);
      padding-left: 0;
      border-left: none;
      border-right: 2px solid $brand-color-primary;
      padding-right: 15px;
    }
  }
}

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
  &:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
  }
  .timeline__img {
    margin-bottom: -1.5em;
  }
  .timeline__content-title {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
    &:before {
      left: 0px !important;
      padding: 3px 0px !important;
      top: 50px;
      text-align: center !important;
      width: 20em;
      border: none !important;
      font-size: 0.75em;
      background: $black;
      color: $white;
    }
    &:last-child {
      padding-bottom: 40px;
    }
  }
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba($black, 0.4);
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 30px 0;
  transition: 0.3s ease 0s;
}
