#staff .person {
  list-style-type: none;
  display: inline-block;
  /*width: 19%;*/
  text-align: center;
  padding: 1.5% 3% 1.5% 0;
  vertical-align: text-top;
  .thumbnail {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 0;
    margin: 0px 0px 15px;
    padding: 100% 0px 0.25%;
    position: relative;
    z-index: 1;
  }
}

.person-thumb {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 0;
  margin: 0px 0px 15px;
  padding: 100% 0px 0.25%;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 20vw;
  height: 20vw;
  padding: 0;
  margin: 0;
  max-width: 240px;
  max-height: 240px;
  min-width: 72px;
  min-height: 72px;
}

#staff .person img,
.person-thumb img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#staff .person {
  h3 {
    margin: 0px;
    font-size: 1.25em;
    font-weight: 600;
  }
  p {
    font-size: 1em;
    line-height: 1.15em;
  }
}

#sidebar.person {
  overflow: hidden;
  .person-profiles {
    margin: 10px 0px;
    display: block;
    a {
      color: $black;
    }
    .fa {
      font-size: 1.25em;
      margin: 0px 0.25em 0px 0px;
    }
  }
}
