//Fonts
$font-stack-headings: "Montserrat", Helvetica, Arial, sans-serif;
$font-stack-body: "Lora", Georgia, serif;

//Colors
$white: #fff;
$off-white: #e6e6e6;
$black: #000;
$brand-color-primary: #358fcd;
$brand-color-secondary: #f8981d;
$accent-dark: #4a4a4a;
$accent-light: #bfbfbf;
